/* General styles omitted for brevity */

html,
body {
    height: 100vh;
    background-color: #d71ff7f0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Avenir;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    flex-wrap: wrap;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Condiment";
    font-size: 6em;
    line-height: 1;
    text-align: center;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 1em;
    padding: 0 1em;
}

section img {
    width: 100%;
}

#fortune_told {
    background-color: white;
    border: 2px black solid;
    border-radius: 1em;
    padding: 40px;
    display: none;
    font-family: Avenir;
    font-size: 16px;
    font-weight: bold;
}

#fortune_told.visible {
    display: block;
}

.buttonBoy {
    align-items: center;
    background-color: #a7e32f;
    border: 2px solid #111;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    font-family: Avenir, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    max-width: 100%;
    padding: 0 25px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 2em;
}

.buttonBoy:active {
    background-color: #14bb14;
    outline: 0;
}

.buttonBoy:hover {
    outline: 0;
    background-color: aqua;
}